apiVersion: v1
kind: Service
metadata:
  name: mssql
  namespace: mssql
spec:
  type: ClusterIP
  selector:
    app: mssql
  ports:
    - name: sql
      port: 1433       # puerto dentro del cluster
      targetPort: 1433 # puerto del contenedor
