databases/sqlserver/promptads/PromptAds.mdf

databases/sqlserver/promptads/PromptAds_log.ldf
mcp-servers/promptcontent/node_modules
local/.env
mcp-servers/promptcontent/.env
mcp-servers/promptcontent/.env.local
