apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: redis
  labels:
    app: redis
    tier: cache
type: Opaque
stringData:
  # Redis password for requirepass
  REDIS_PASSWORD: "RedisPassword123!"
