apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-backup
  namespace: redis
  labels:
    app: redis
    tier: cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
