apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis-pdb
  namespace: redis
  labels:
    app: redis
    tier: cache
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: redis
