apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: promptcontent-dev
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: ankane/pgvector:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres  # Tu ConfigMap existente con usuario, pass y DB
          args:
            - "-c"
            - "listen_addresses=*"
            - "-c"
            - "hba_file=/etc/postgresql/pg_hba.conf"
          volumeMounts:
            - name: pg-hba
              mountPath: /etc/postgresql
              readOnly: true
      volumes:
        - name: pg-hba
          configMap:
            name: pg-hba-cm
