apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: promptcontent-dev
  labels:
    app: postgres
spec:
  replicas: 1  # Deja 1, no 3, para evitar conflictos en almacenamiento
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: ankane/pgvector:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres  # Tu ConfigMap existente con usuario, pass y DB
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: postgres-volume-claim
