apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: promptcrm-backup
  namespace: promptcrm
  labels:
    app: promptcrm
    tier: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: standard
