apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: promptcrm-data
  namespace: promptcrm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: standard
