apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-backup
  namespace: promptcontent-dev
  labels:
    app: postgres
    tier: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
